@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chat</h1>
    <p class="lead text-muted">This project showcases how the Telerik Chat can be powered by Weavy. </p>
    <p>@Html.ActionLink("Go to Chat Demo »", "Chat", "Home", null, new { @class = "k-button k-primary" })</p>
</div>

<div class="jumbotron">
    <h1>Weavy</h1>
    <p class="lead text-muted">Weavy is the complete white-label framework for in-app messaging and collaboration.</p>
    <p><a href="https://weavy.com" class="k-button k-primary">Learn more about Weavy &raquo;</a></p>
</div>
